.modal {
  border-radius: 3px;
  border: solid 1px #cccccc;

  .modal-title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
  }

  .modal-content {

    .media-item-content {
      padding: 5px 0px;
      display: inline-block;
    }

    .category-select {
      width: 200px;
      .control-label {
        width: 140px;
        height: 14px;
      }
      .category-dropdown {
        color: @gray-light
      }
    }

    .placement-select {
      color: @gray-light
    }

  }

  .modal-footer {
    .save-button {
      background-color: #21ce99;
      color: #FFFFFF;
    }
  }
}


